@use "./variables";

@mixin borderWithBackground($bgColor) {
  border: 1px solid $color-red;
  background-color: $bgColor;
}

@mixin corner-icon($name, $top-or-bottom, $left-or-right) {

  .icon-#{$name} {
    background-image: url("/icons/#{$name}.svg");
    position: absolute;
    #{$top-or-bottom}: 0;
    #{$left-or-right}: 0;
  }

}

@mixin h1tl {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  color: $color1;
}


@mixin firuntit {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: $color1;
}

@mixin searhtxt {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: $colorinput;
}

@mixin searhbtn {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: $color1;
}

@mixin h3s {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: $color1;
}

@mixin htxt {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color1;
}

@mixin h2txt {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $color1;
}

@mixin text {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: $color1;
}

@mixin h6txt {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  color: $color1;
}

@mixin h5txt {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: $color1;
}

@mixin font($fm, $fs, $fw, $col) {
  font-family: $fm;
  font-size: $fs;
  font-weight: $fw;
  color: $col;
}