@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');

@import "./reset";
@import "./variables";
@import "./mixins";
@import "./responsive";


* {
   transition: all 0.3s ease;
}


.wrapper {
   max-width: 1360px;
   width: 100%;
   padding-right: 110px;
   padding-left: 110px;
   margin: 0 auto;

   @include lg {
      padding-right: 32px;
      padding-left: 32px;
   }

   @include md {
      padding-right: 24px;
      padding-left: 24px;
   }

   @include sm {
      padding-right: 18px;
      padding-left: 18px;
   }
}


.first {
   width: 100%;
   background-image: url(img/bg/HeaderBackgroundbg1.jpg);
   height: 862px;
   background-size: cover;
   display: flex;

   .first__title {
      @include h1tl;
      margin-top: 295px;
      text-align: center;
   }

   .first__untitle {
      @include firuntit;
      margin-top: 8px;
      text-align: center;
      letter-spacing: 0.31em;
      margin-bottom: 48px;
   }


   .search-form {
      background-color: $color1;
      display: flex;
      max-width: 647px;
      margin: 0 auto;
      height: 60px;
      justify-content: space-between;
      align-items: center;
      padding-right: 4px;
      margin-bottom: 211px;

      &:hover {
         border: 2px solid $color2;
      }

      .searh-form__txt {
         display: flex;
         width: 100%;
         border: none;
         outline: none;
         @include searhtxt;
         padding-left: 36px;
      }

      .searh-form__btn {
         display: flex;
         gap: 10px;
         align-items: center;
         justify-content: center;
         background-color: $color2;
         padding: 16px 24px;
         width: 139px;
         height: 52px;
         @include searhbtn;
         cursor: pointer;

         &:hover {
            background-color: $color1;
            border: 2px solid $color2;
            color: $color2;
         }
      }
   }

   .first__scroll {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      @include searhbtn;
      letter-spacing: 0.2em;
   }
}

.header {
   width: 100%;
   height: 84px;
   background-color: $color2;
   display: flex;
   align-items: center;

   @include rwd(577px, 768px) {
      height: 136px;
   }

   @include sm {
      height: 84px;
   }

   a {
      @include htxt;
      opacity: 0.8;
   }

   a:hover {
      opacity: 1;
   }


   .hdfl {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include rwd(577px, 768px) {
         flex-direction: column;
      }

      @include sm {
         display: flex;
         justify-content: center;
         align-items: center;
      }


      .header__logo {
         @include h3s;

         @include rwd(577px, 768px) {
            margin-bottom: 32px;
         }

         @include sm {
            display: inline-flex;
         }
      }

      .nav ul {
         display: flex;
         max-width: 575px;
         gap: 40px;
         @include htxt;
         cursor: pointer;

         @include sm {
            gap: 24px;

         }
      }
   }
}


.open {
   display: flex !important;
}

.burger {
   display: none;
   position: relative;
   z-index: 50;
   align-items: center;
   justify-content: flex-end;
   width: 30px;
   height: 18px;
}

.burger span {
   height: 2px;
   width: 100%;
   transform: scale(1);
   background-color: #FAF6F2;
}

.burger::before,
.burger::after {
   content: '';
   position: absolute;
   height: 2px;
   width: 100%;
   background-color: #FAF6F2;
   transition: all 0.3s ease 0s;
}

.burger::before {
   top: 0
}

.burger::after {
   bottom: 0
}

.burger.active span {
   transform: scale(0)
}

.burger.active::before {
   top: 50%;
   transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
   bottom: 50%;
   transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 576px) {

   .burger {
      display: inline-flex;
      margin-left: auto;
   }

   .nav {
      display: none;
      flex-direction: column;
      height: 216px;
      width: 100%;
      position: absolute;
      top: 945px;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 50;
      overflow-y: auto;
      background-color: $color2;
      padding-top: 32px;
   }

   .nav ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 24px;
      z-index: 50;
   }

   .nav ul li {
      text-align: center;
   }

}

h2 {
   @include h2txt;
}

.text {
   @include text;
}

.btn2 {
   width: 213px;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   @include searhbtn;
   background-color: $color2;
   cursor: pointer;

   &:hover {
      background-color: $color1;
      border: 2px solid $color2;
      color: $color2;
   }
}

.whyblock {
   width: 100%;
   height: 704px;
   background-image: url(img/bg/WhyBackgroundbg2.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;

   @include md {
      height: 659px;
   }

   @include sm {
      height: 630px;
   }

   .why {
      z-index: 0;
      display: flex;
      padding-top: 124px;
      padding-bottom: 124px;
      max-width: 1360px;
      justify-content: space-between;

      @include md {
         padding-top: 60px;
         padding-bottom: 60px;
         display: flex;
         flex-direction: column-reverse;
      }

      @include sm {
         padding-top: 60px;
         padding-bottom: 60px;
      }

      .why__content {
         margin-top: 66px;
         max-width: 558px;
         z-index: 0;

         @include md {
            max-width: 768px;
            margin-top: 32px;
            display: flex;
            flex-direction: column;
            align-items: center;
         }

         @include sm {
            max-width: 576px;
            margin-top: 37px;
            display: flex;
            flex-direction: column;
            align-items: center;
         }

         &__title {
            margin-bottom: 24px;

            @include sm {
               margin-bottom: 19px;
            }
         }

         .why__content__text {
            margin-bottom: 32px;

            @include md {
               margin-bottom: 24px;
            }

            .why__content__text-1 {
               margin-bottom: 20px;
            }
         }
      }

      .why__images {
         width: 461px;
         display: flex;
         flex-direction: column;
         row-gap: 16px;
         z-index: 0;

         @include md {
            display: flex;
            flex-direction: row;
            max-width: 720px;
            gap: 24px;
            row-gap: 0px;

            @include md {
               width: 100%;
               height: auto;

               .whyimg {
                  width: 100%;
                  height: auto;
               }
            }
         }

         .why__images__img {
            max-width: 348px;
            height: auto;
         }

         .wii1 {
            align-self: flex-start;
         }

         .wii2 {
            align-self: flex-end;
         }
      }

   }
}


.steps-bg {
   background-color: $color3;
   height: 306px;


   @include md {
      height: 658px;
   }

   @include sm {
      height: 658px;
   }

   .steps {
      display: flex;
      justify-content: space-between;

      @include md {
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      .steps__block {
         max-width: 364px;
         text-align: center;
         margin-top: 138px;
         cursor: pointer;
         opacity: 0.8;



         @include md {
            margin-top: 75px;
         }

         @include md {
            margin-top: 75px;
         }

         .steps__block__icon {
            margin-bottom: 20px;
         }
      }

      .steps__block:hover {
         opacity: 1;
      }
   }
}

h6 {
   @include h6txt;
}

h5 {
   @include h6txt;
   font-weight: 400px;
}

.booknow {
   width: 100%;
   height: 712px;
   background-image: url(img/bg/render-1477041_1280\ 1bg3.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding-top: 220px;
   padding-bottom: 10px;

   @include md {
      height: 588px;
      padding-top: 120px;
   }

   @include sm {
      height: 616px;
      padding-top: 120px;
   }

   .booknow__block {
      max-width: 558px;
      height: auto;
      background-color: rgba(35, 35, 35, 0.9);
      padding: 44px 32px;

      @include md {
         max-width: 720px;
      }

      @include sm {
         max-width: 540px;
      }

      &__tag {
         margin-bottom: 16px;
      }

      &__title {
         margin-bottom: 16px;
      }

      &__text {
         margin-bottom: 16px;

         @media (max-width:322px) {
            line-height: 26px;
            letter-spacing: 0.1em;
         }
      }
   }

}

.bn-2 {
   background-image: url(img/bg/spain-1859434_1280\ 1bg4.jpg);

   .bn-2-2 {
      display: flex;
      justify-content: flex-end;
   }
}

.tourists-bg {
   width: 100%;
   height: 708px;
   background-image: url(img/bg/BGbg5.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding-top: 120px;

   @include lg {
      height: 736px;
   }

   @include md {
      padding-top: 60px;
      height: 924px;
   }

   @include sm {
      padding-top: 60px;
      height: 980px;
   }

   .tourists__title {
      text-align: center;
      margin-bottom: 60px;
   }

   .tourists {
      max-width: 1140px;
      height: 336px;
      display: flex;

      @include lg {
         height: 336px;
      }

      @include md {
         flex-direction: column;
      }

      .tourists__block__image {
         @include md {
            width: 100%;
            height: auto;

         }

         .tor-img {
            @include md {
               width: 100%;
               height: auto;
            }

         }
      }

      .tourists__block__content {
         max-width: 885px;
         height: 308px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         padding: 24px;
         background-color: $color3;

         @include lg {
            height: 336px;
         }

         @include md {
            // padding: 20px;
            height: auto;
         }

         @include sm {
            // padding: 20px;
            height: auto;
         }

         .tourists__block__content__title {
            @include h5txt;
         }

      }
   }
}

.lapk {
   font-size: 30px;
   font-weight: 800;
   color: $color2;
}

.icon {
   fill: $color1;

   &:hover {
      fill: #5373FD;

   }
}

.footer {
   background-color: black;
   padding-top: 80px;
   padding-bottom: 80px;

   .footer__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Josefin Sans';
      font-style: normal;
      color: $color1;
      letter-spacing: 0.2em;

      .footer__title {
         font-weight: 700;
         font-size: 24px;
         line-height: 28px;
         margin-bottom: 8px;
      }

      .footer__tag {
         margin-bottom: 20px;
         font-weight: 400;
         font-size: 14px;
         line-height: 20px;
      }

      .footer__socials {
         display: flex;
         gap: 32px;

         .footer__socials__link{
            font-size: 28px;
            color: $color1;

            &:hover{
               cursor: pointer;
               color: $color2;
            }
         }
      }
   }
}